<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
          integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
          integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <meta charset="UTF-8">
    <title>Gestión de Cursos</title>
</head>
<body>

<div class="container" th:replace="~{fragments/header::header}"></div>

<br>

<div class="container mb-5">
    <div class="container mb-5">
        <div th:if="${message != null}" th:classappend="${alertClass}"
             class="alert alert-success alert-dismissible fade show text-center message" th:text="${message}">
            <button type="button" class="close btn-sm" data-dismiss="alert" aria-label="Cerrar">
                <span aria-hidden="true">✖</span>
            </button>
        </div>

    </div>
</div>

<div class="container mb-3 d-grid gap-2 d-md-block">
    <!--Botón Generar Reporte PDF-->
    <a th:href="@{/courses/export/pdf}" class="btn btn-danger">
        <i class="fa-solid fa-file-pdf"></i> Generar PDF
    </a>
    <!--Botón Generar Reporte Excel-->
    <a th:href="@{/courses/export/excel}" class="btn btn-success">
        <i class="fa-solid fa-file-excel"></i> Generar EXCEL
    </a>
</div>


<div class="container">
    <table class="table table-hover table-responsive-xl">
        <thead class="thead-light">
        <tr>
            <th>ID</th>
            <th>Título</th>
            <th>Descripción</th>
            <th>Nivel</th>
            <th>Publicado</th>
            <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="course : ${courseList}">
            <td th:text="${course.id}"></td>
            <td th:text="${course.title}"></td>
            <td th:text="${course.description}"></td>
            <td th:text="${course.level}"></td>
            <td>
                <a th:if="${course.published == true}" class="fa-regular fa-square-check"></a>
                <a th:if="${course.published == false}" class="fa-regular fa-square icon-dark"></a>
            </td>
            <td>
                <a th:href="@{/courses/formUpdateCourse/{id}(id=${course.id})}"
                   class="fa-regular fa-pen-to-square icon-dark btn btn-primary" title="Editar"></a>
                <a th:href="@{/courses/deleteCourse/{id}(id=${course.id})}"
                   class="fa-regular fa-trash-can icon-dark btn btn-danger" id="btnDelete" title="Eliminar"></a>
            </td>
        </tr>
        </tbody>
    </table>
</div>



<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
        crossorigin="anonymous"></script>

</body>
</html>